/* .content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
}

.logincard {
    align-content: center;
    height: auto;
    width: 100%;
    text-align: center;
}

.ant-card-head-title {
    font-size: larger;
}

li {
    text-align: center;
    font-size: x-small;
} */